In [2]:
%defaultDatasource jdbc:h2:mem:db

# Analisando o Uso de Medicamentos
* Esta tarefa analisará os dados conforme três abordagens: análise do comportamento estatístico; análise de correlação entre pares; análise de correlação de variáveis.
* A partir dos arquivos CSV que estão no diretórios /data/nhanes considere as seguintes tabelas SQL.

In [6]:
DROP Table IF EXISTS Person;
DROP Table IF EXISTS Drug;
DROP Table IF EXISTS DrugUse;

In [7]:
CREATE TABLE Person (
  Id VARCHAR(5) NOT NULL,
  Gender INTEGER,
  Age INTEGER,
  PRIMARY KEY(Id)
) AS SELECT
    id,
    gender,
    age
FROM CSVREAD('../data/demographic-person.csv');

CREATE TABLE Drug (
  Code VARCHAR(6) NOT NULL,
  Name VARCHAR(100) NOT NULL,
  PRIMARY KEY(Code)
) AS SELECT
    code,
    name
FROM CSVREAD('../data/medications-drug.csv');

CREATE TABLE DrugUse (
  PersonId VARCHAR(5) NOT NULL,
  DrugCode VARCHAR(6) NOT NULL,
  DaysUse INTEGER,
  FOREIGN KEY(PersonId)
    REFERENCES Person(Id)
      ON DELETE NO ACTION
      ON UPDATE NO ACTION,
  FOREIGN KEY(DrugCode)
    REFERENCES Drug(Code)
      ON DELETE NO ACTION
      ON UPDATE NO ACTION
) AS SELECT
    person_id,
    drug_code,
    days_use
FROM CSVREAD('../data/medications-use.csv');

In [8]:
SELECT * FROM Person;
SELECT * FROM Drug;
SELECT * FROM DrugUse

# I. Análise de comportamento estatístico

## 1) Contabilizando o uso de medicamentos

* Liste o nome de todos os medicamentos e a quantidade de pessoas que usa cada um deles.

In [67]:
SELECT D.Name, COUNT(DU.PersonID)
    FROM  Drug D, DrugUse DU
    WHERE D.Code = DU.Drugcode
    GROUP BY D.Code;

## 2) Medicamento mais usado com VIEW

* Informe o código do medicamento mais usado: fazendo uso de VIEW.

In [44]:
DROP Table IF EXISTS userCountCode;

CREATE VIEW userCountCode AS
SELECT DU.Drugcode, (count(DU.PersonID)) NumberUsers
    FROM  DrugUse DU
    GROUP BY DU.Drugcode;


SELECT Drugcode
    FROM userCountCode
    WHERE NumberUsers = (
        SELECT MAX(NumberUsers)
        FROM userCountCode
    );

d00732

## 3) Medicamento mais usado sem VIEW

* Informe o código do medicamento mais usado: sem fazer uso de VIEW.

In [45]:
SELECT UC1.Drugcode
    FROM(SELECT DU.Drugcode, (count(DU.PersonID)) NumberUsers
            FROM  DrugUse DU
            GROUP BY DU.Drugcode) UC1
    WHERE UC1.NumberUsers IN (SELECT MAX(UC2.NumberUsers)
                                FROM(SELECT count(DU.PersonID) NumberUsers
                                        FROM  DrugUse DU
                                        GROUP BY DU.Drugcode) UC2)

d00732

## 4) Nome do medicamento mais usado
* Informe o nome do medicamento mais usado (uso de VIEW é opcional).

In [46]:
DROP Table IF EXISTS userCount;

CREATE VIEW userCount AS
SELECT D.Name, (count(DU.PersonID)) NumberUsers
    FROM  Drug D, DrugUse DU
    WHERE D.Code = DU.Drugcode
    GROUP BY D.Code;
    
SELECT NAME 
    FROM userCount
    WHERE NumberUsers = (
        SELECT MAX(NumberUsers)
        FROM userCount
    );

LISINOPRIL

## 5) Contabilizando quanto as pessoas usam de medicamento

* Informe o número médio de uso de medicamento por pessoa.

In [48]:
DROP Table IF EXISTS DrugsUserAge;
DROP Table IF EXISTS amountDrugsUser;

CREATE VIEW amountDrugsUser AS
SELECT  DU.Personid, COUNT(DU.drugcode) CountDrugs
    FROM  DrugUse DU
    GROUP BY DU.Personid;
    
SELECT AVG(CountDrugs) FROM amountDrugsUser;

3

## 6) Pessoas que usam mais do que a média

* Liste o id das pessoas que usam mais medicamentos do que a média.

In [53]:
DROP Table IF EXISTS DrugsUserAge;
DROP Table IF EXISTS amountDrugsUser;

CREATE VIEW amountDrugsUser AS
SELECT  DU.Personid, COUNT(DU.drugcode) CountDrugs
    FROM  DrugUse DU
    GROUP BY DU.Personid;
    
SELECT Personid
    FROM amountDrugsUser
    WHERE CountDrugs>(
        SELECT AVG(CountDrugs) 
        FROM amountDrugsUser);

## 7) Análise do uso de medicamento

* Considere que um médico quer fazer responder a seguinte questão: pessoas tendem a usar mais medicamentos conforme ficam mais velhas?
* Escreva uma query que ajude o médico a realizar esta análise.

In [ ]:
DROP Table IF EXISTS DrugsUserAge;
DROP Table IF EXISTS amountDrugsUser;

CREATE VIEW amountDrugsUser AS
SELECT  DU.Personid, COUNT(DU.drugcode) CountDrugs
    FROM  DrugUse DU
    GROUP BY DU.Personid;
    
CREATE VIEW DrugsUserAge AS
SELECT Personid, P.age, CountDrugs
    FROM amountDrugsUser ADU, Person P
    WHERE ADU.CountDrugs>(
        SELECT AVG(CountDrugs) 
        FROM amountDrugsUser) 
        AND ADU.PersonID = P.id;
        
--Tabela contendo pessoa|idade|quantidade de medicamento que usa
SELECT * FROM DrugsUserAge;

--A resposta do medico pode ser respondida comparando a media de idade dos participantes da pesquisa com a media de idade das pessoas que consomem mais madicamentos que a media
SELECT AVG(P.age) Media_idade_participantes, AVG(DUA.age) Media_idade_Mais_consomem_medicamentos
    FROM DrugsUserAge DUA, Person P;

# Navegando por Hierarquias

A seguir exercícios envolvendo navegação por hierarquias.

# Marcadores e Taxonomia

Considere o modelo para `Marcadores` e `Taxonomia`:

![UML](marcadores-taxonomia-uml.png)

![Relacional](marcadores-taxonomia-er.png)

Considere as sentenças SQL a seguir para montar as tabelas de `Marcadores` e `Taxonomia`:

In [44]:
DROP TABLE IF EXISTS Sub_servicos;
DROP TABLE IF EXISTS Taxonomia;
DROP TABLE IF EXISTS Marcadores;

CREATE TABLE Taxonomia (
  Categoria VARCHAR(50) NOT NULL,
  Superior  VARCHAR(50),
  PRIMARY KEY(Categoria),
  FOREIGN KEY(Superior)
    REFERENCES Taxonomia(Categoria)
      ON DELETE NO ACTION
      ON UPDATE CASCADE
);

CREATE TABLE Marcadores (
  Titulo VARCHAR(50) NOT NULL,
  Endereco VARCHAR(80) NOT NULL,
  Acessos INTEGER,
  Categoria VARCHAR(50) NOT NULL,
  PRIMARY KEY(Titulo),
  FOREIGN KEY(Categoria)
    REFERENCES Taxonomia(Categoria)
      ON DELETE NO ACTION
      ON UPDATE CASCADE
);

As tabelas são preenchidas com as seguintes tuplas:

In [45]:
INSERT INTO Taxonomia VALUES ('Geral', NULL);
INSERT INTO Taxonomia VALUES ('Serviços', 'Geral');
INSERT INTO Taxonomia VALUES ('Acadêmico', 'Geral');
INSERT INTO Taxonomia VALUES ('Relacionamento', 'Geral');
INSERT INTO Taxonomia VALUES ('Busca', 'Serviços');
INSERT INTO Taxonomia VALUES ('Portal', 'Serviços');
INSERT INTO Taxonomia VALUES ('Mail', 'Serviços');
INSERT INTO Taxonomia VALUES ('Vendas', 'Serviços');
INSERT INTO Taxonomia VALUES ('Universidade', 'Acadêmico');
INSERT INTO Taxonomia VALUES ('CG', 'Acadêmico');
INSERT INTO Taxonomia VALUES ('Sociedade', 'Acadêmico');
INSERT INTO Taxonomia VALUES ('Rede Social', 'Relacionamento');
INSERT INTO Taxonomia VALUES ('Marketplace', 'Vendas');
INSERT INTO Taxonomia VALUES ('Loja', 'Vendas');
INSERT INTO Taxonomia VALUES ('Notícias', 'Portal');
INSERT INTO Taxonomia VALUES ('Agregador', 'Portal');

INSERT INTO Marcadores VALUES ('Terra', 'http://www.terra.com.br', 295, 'Portal');
INSERT INTO Marcadores VALUES ('POVRay', 'http://www.povray.org', 2, 'CG');
INSERT INTO Marcadores VALUES ('SBC', 'http://www.sbc.org.br', 26, 'Sociedade');
INSERT INTO Marcadores VALUES ('Correios', 'http://www.correios.com.br', 45, 'Serviços');
INSERT INTO Marcadores VALUES ('GMail', 'http://www.gmail.com', 296, 'Mail');
INSERT INTO Marcadores VALUES ('Google', 'http://www.google.com', 1590, 'Busca');
INSERT INTO Marcadores VALUES ('Yahoo', 'http://www.yahoo.com', 134, 'Serviços');
INSERT INTO Marcadores VALUES ('Orkut', 'http://www.orkut.com', 45, 'Rede Social');
INSERT INTO Marcadores VALUES ('iBahia', 'http://www.ibahia.com', 3, 'Portal');
INSERT INTO Marcadores VALUES ('Submarino', 'http://www.submarino.com.br', 320, 'Loja');
INSERT INTO Marcadores VALUES ('Amazon', 'https://www.amazon.com.br', 410, 'Marketplace');
INSERT INTO Marcadores VALUES ('Americanas', 'https://www.americanas.com.br', 320, 'Loja');
INSERT INTO Marcadores VALUES ('Mercado Livre', 'https://www.mercadolivre.com.br', 500, 'Marketplace');
INSERT INTO Marcadores VALUES ('G1', 'https://g1.globo.com', 1200, 'Notícias');
INSERT INTO Marcadores VALUES ('Folha', 'https://www.folha.uol.com.br', 850, 'Notícias');
INSERT INTO Marcadores VALUES ('Google News', 'https://news.google.com', 900, 'Agregador');
INSERT INTO Marcadores VALUES ('Flipboard', 'https://flipboard.com', 950, 'Agregador');

Conteúdo da tabela `Taxonomia`:

In [46]:
SELECT * FROM Taxonomia;

Conteúdo da tabela `Marcadores`:

In [47]:
SELECT * FROM Marcadores;

## Tarefa 1

Escreva em SQL uma consulta que retorne os marcadores da categoria `Serviços`, sem considerar as categorias subordinadas.

In [48]:
SELECT * FROM Marcadores M
    WHERE M.Categoria = 'Serviços';

## Tarefa 2

Escreva em SQL uma consulta que retorne os marcadores da categoria `Serviços`, considerando as categorias subordinadas.

In [49]:
--Gera a view com todas as categorias subordinadas a serviços, incluindo a categoria de serviços
DROP TABLE IF EXISTS Sub_servicos;
CREATE VIEW Sub_servicos AS
SELECT DISTINCT T1.Categoria
    FROM Taxonomia T1, Taxonomia T2
    WHERE T1.Categoria = 'Serviços' OR T1.Superior = 'Serviços' OR (T1.Superior = T2.Categoria AND T2.Superior = 'Serviços');

SELECT M.*
    FROM Marcadores M, Sub_servicos SS
    WHERE M.Categoria = SS.Categoria;